body {
  background-color: #e5e4e4;
}
#mainDiv {
  margin: auto;
  width: max-content;
  border: 2px solid black;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

#displayScreen {
  max-width: 100%;
  margin-bottom: 10px;
}

.inputDisplay {
  width: 98%;
  height: 8vh;
  background-color: #f0f0f0;
  font-size: larger;

  /* font-size: x-large; */
}

.clickBtn {
  width: 50px;
  margin: 0.5px;
  border: none;
  height: 30px;
  /* background-color:greenyellow; */
}

#equalTo {
  background-color: cadetblue;
}

.printVal {
  font-weight: bold;
}

.selection {
  border: none;
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto 1.6px;
  margin-bottom: 3px;
  height: 30px;
  font-weight: bold;
}

#topFuncion {
  margin: 5px 1.6px;
}

#secondMemory {
  margin: 5px 1.6px;
  margin: bottom 0;
}

#thirdFunction {
  max-width: inherit;
  /* display: flex; */
  justify-content: flex-start;
}

#fourth {
  max-width: inherit;
  display: flex;
  justify-content: space-between;
}
#fifth {
  max-width: inherit;
  display: flex;
  justify-content: space-between;
}
#sixth {
  max-width: inherit;
  display: flex;
  justify-content: space-between;
}
#seventh {
  max-width: inherit;
  display: flex;
  justify-content: space-between;
}
#eightth {
  max-width: inherit;
  display: flex;
  justify-content: space-between;
}
#nineth {
  max-width: inherit;
  display: flex;
  justify-content: space-between;
}
#tenth {
  max-width: inherit;
  display: flex;
  justify-content: space-between;
}

.clickBtn:active {
  border: black solid 2px;
}
