
#mainDiv {
  margin: auto;
  width: max-content;
  border: 2px solid black;
  padding: 10px;
  background-color: rgb(181, 54, 90);
}


#displayScreen{
  max-width: 100%;
}

.inputDisplay{
  width: 98%;
  height: 10vh;
  /* font-size: x-large; */
}

.clickBtn{
  width: 40px;
  margin: 2px 1.6px;
  border: none;
  /* background-color:greenyellow; */
}

#equalTo{
  background-color: cadetblue;
  
}

.printVal{
  font-weight: bold;
}

.selection{
  border: none;
  background-color: #f0f0f0;
  font-family:Arial, Helvetica, sans-serif;
  margin: 2px 1.6px;
}



#thirdFunction {
  max-width: inherit;
  /* display: flex; */
  justify-content: flex-start;
}




#fourth {
  max-width: inherit;
  display: flex;
  justify-content: space-between;
}
#fifth {
  max-width: inherit;
  display: flex;
  justify-content: space-between;
}
#sixth {
  max-width: inherit;
  display: flex;
  justify-content: space-between;
}
#seventh {
  max-width: inherit;
  display: flex;
  justify-content: space-between;
}
#eightth {
  max-width: inherit;
  display: flex;
  justify-content: space-between;
}
#nineth {
  max-width: inherit;
  display: flex;
  justify-content: space-between;
}
#tenth {
  max-width: inherit;
  display: flex;
  justify-content: space-between;
}

